.navbar {
    background-color: white;
}

.model-image {
    width: 70%;
    height: 70%;
    padding-left: 100px;
}


.jumbotron {
    background-color: transparent;
    padding-top: 140px;
    padding-left: 70px;
    
}

.display-4 {
    font-size: 100px;
}

.lead {
    font-size: 60px;
}


#about {
    background-color: rgb(145, 94, 94);
}

.service {
    text-align: center;
}


    .row {
        align-items: center;
    }

    /* #about-row {
        padding-left: 200px;
    } */

    .about-title {
        padding-left: 50px;
        padding-bottom: 60px;
        padding-top: 70px;
    }

    .about-para {
        padding-left: 50px;
        padding-bottom: 60px;
    }

    .info-title {
        padding-left: 50px;
        padding-bottom: 60px;
        padding-top: 70px;
    }

    .info-para {
        padding-left: 50px;
        padding-bottom: 290px;
    }

    .model2-image {
        width: 70%;
    height: 70%;
    padding-left: 100px;
    padding-bottom: 50px;
    }
    .service {
        padding-top: 70px;
        padding-bottom:100px;
    }

    .service-image {
        height: 350px;
  width: 250px;
  border-radius: 20%;
    }

    @media (max-width: 432px) {
        .model2-image {
           display: none;
        }
        .info-title {
            padding-left: 50px;
            padding-bottom: 60px;
            padding-top: 290px;
        }

        .display-4 {
            font-size: 40px;
        }
        
        .lead {
            font-size: 30px;
        }
        .model-image {
            width: 100%;
            height: 100%;
            margin-bottom: 50px;
            /* position: absolute; */
            z-index: 1;
        }
        .jumbotron {
            z-index: 2;
            position: absolute;
            padding-left: 10px;
        }
        
    }

    @media only screen and (min-width: 768px) {
    #service-conainter {
        padding-left: 70px;
    }
   





    
}